.personMsg{
	font: 14px $font-roboto;
	width: 960px;
	margin: 0 auto;
	text-align:center;
	select{
		border-radius: 4px;
		border: 1px solid #ccc;
		background-color: #fff;
		padding-left: 20px;
		background: url("./../../assets/img/dropbtn.png") no-repeat  96% center transparent;

	}
	.toogle_head{
		text-align: left;
		padding: 20px 0;
		li{
			font: 18px $font-roboto;
			width: 70px;
			height: 30px;
			display: inline-block;
			white-space:nowrap;			
			cursor: pointer;
		}
		li:first-child{
        	margin-right: 50px;
      	}
		.active{
			border-bottom: 2px solid #00BA8F;
		}
	}
	.photo{
		margin: 0 auto;
		img{
			width: 90px;
			height: 90px;
			border-radius: 50%;
		}
		.alter{
			width: 100px;
			height: 30px;
			line-height: 30px;
			color: #333333;
			border-color: #C0C8C9;
			background: #fff;
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 26px;
		}
	}
	.toogle_content{
		margin: 0 auto;
		li{
			margin-bottom: 20px;
			span{
				display: inline-block;		
				font-weight: bold;
			}
			p{
				display: inline-block;
				.field{
					height: 50px;
					line-height: 50px;
					font: 14px $font-roboto;
					border: 1px solid #ccc;
					border-radius: 4px;
					background-color: #fff;
				}
			}
		}
		li:first-child{
			p{
				margin-left: 12px;
				input{
					width: 352px;
	  				height: 53px;				
				}
			}
		}
		li:nth-child(2){
			span:first-child{				
				text-indent: -6em; 
			}
			p{

				input{
					width: 260px;	
					background-color: #dddddd;				
				}
			}
			
		}
		li:nth-child(3){
			span:first-child{				
				text-indent: -4em;
			}
			p{
				margin-left: 10px;
				input{
					width: 260px;					
				}
			}
			
		}
		li:nth-child(4){
			margin-left: -280px;
			span{				
				margin-right: -80px;
			}			
			select{
				width: 80px;
				height: 40px;
				background-color: #fff;
				margin-left: 100px;
			}					
		}
		li:nth-child(5){
			margin-left: 300px;
			span{				
				margin-left: -380px;
			}
			.dateChoose{
				display: inline-block;
				margin-left: 20px;
				select{
					width: 100px;
					height: 40px;
					background-color: #fff;
				}
			}			
		}
	}

	.green{
		font: 16px $font-roboto;
		width: 350px;
		height: 50px;
		line-height: 50px;
	}
	.Sec{
		margin-left: 200px;
		.clear:after{
            content: ".";
            visibility: hidden;
            height: 0;
            display: block;
            clear: both;
       }
		.project,.version{
			float: left;	
			margin-right: 100px;
			span:first-child{
				font-weight: bold;
				padding-right: 20px;
			}	
			div{
				display: inline-block;	
				vertical-align: middle;	
				width: 160px;		
				.panel{
					height: 100px;					
					overflow: auto;
					li{
						width: 200px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
		.altSch{
			text-align: left;
			margin-top: 20px;
			margin-bottom: 40px;
			span{
				font-weight: bold;
			}
			input{
				width: 260px;
				height: 50px;
				line-height: 50px;
				font: 14px $font-roboto;
				border: 1px solid #ccc;
				border-radius: 4px;
				background-color: #fff;
				margin-left: 20px;
			}
			
		}
	}
	.bule_alert{
		color: #3c85f3;
		padding-left: 10px;
		cursor: pointer;
	}	
}