$font-roboto: "Microsoft Yahei";
$baseSize: 100px;
$baseBg: #edf6f8;
$baseColor: #2bb990;

$fontColor: #666;
$fontSecondColor: #666;
$fontThirdColor: #999;
$fontFourthColor: #fb4b28;
$fontFifthColor: $baseColor;
$lineColor: #dadada;

$fieldHeight: 70px;
$fieldPadding: 8px;
$fieldFontSize: 28px;
$fieldColor: $fontColor;

$buttonFontSize: 14px;
$buttonBorderRadius: 4px;
$buttonPadding: 16px;
$buttonBorder: $baseColor;
$buttonColor: $baseColor;

$buttonGreenColor: #fff;
$buttonGreen: $baseColor;
$buttonGreenHover: #01a881;

$buttonGray: #ccc;
$buttonGrayHover: #ccc;
$buttonGrayColor: #fff;

$checkboxWidth: 35px;
$checkboxFontSize: 28px;
$checkboxLine : $lineColor;
$checkboxCheckedColor: $baseColor;

$selectHeight: 70px;
$selectPadding: 8px;
$selectFontSize: 28px;
$selectColor: $fontColor;

//边框颜色
$borderColor : #d3dee1
