@charset "utf-8";
.chooseText{
  padding-bottom: 30px;
  .Text{
    .selectText {
      background-color: #fff;
      padding-left: 10px;
      .selectText-title h4{
        font: 18px $font-roboto;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px solid #e6e6e6;
        width: 880px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        h4{
          float: left;
        }

        .selects{
          float: right;
          select{
            -webkit-appearance:none;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: $buttonBorderRadius;
            height: 32px;
            padding: 5px 20px;
            option{
              background-color: $baseColor;
              color: #fff;
              width: 120px;
              height: 32px;
            }
          }
        }

      }
      .textContent {
        width: 900px;
        min-height: 130px;
        border: 1px solid $borderColor;
        border-radius: $buttonBorderRadius;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 12px 20px 8px;
        font: 14px $font-roboto;
        padding-bottom: 40px;
        p {
          width: 860px;
          min-height: 60px;
          line-height: 24px;
          margin-bottom: 8px;
        }
        .choose{
          width: 120px;
          float: right;
          button{
            span{
            }
          }
        }
      }
    }
  }
  .bottomMenu{
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    width: 960px;
    overflow: hidden;
    background-color: #19c19a;
    line-height: 32px;
    color: #fff;
      .bottomMenuBox{
          width: 960px;
          margin: 0 auto;
          div{
            .cancel{
              color: #fff;
              width: auto;
              padding: 0 30px;
              cursor: pointer;
            }
            .confirm{
              width: auto;
              margin-left: 20px;
              background-color: #ff9000;
              width: 140px;
              height: 40px;
              border-radius: 25px;
              margin-right: 40px;
            }
          }
      }
  }
}
